*{
    margin: 0;
    padding: 0;
    box-sizing:content-box;
}

body{
    background: #010109;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color:#16151d;
}

.logo{
    font-size: 3em;
    color:rgb(159, 149, 196);
    pointer-events: none;

}

.navigation a{
    text-decoration: none;
    color:rgb(69, 65, 82);
    padding: 4px 15px;
    border-radius: 20px;
    margin: 0 45px;
    font-weight: 600;
    font-size: 1.5em;
    background-color:#16151d;
}

.navigation a:hover,
.navigation a.active{
    background: rgb(54, 41, 66);
    color:#f9f9f9;
}

.parallax{
    margin-top: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text{
    position: absolute;
    font-size: 5em;
    color: #333333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}


.sec{
    position: relative;
    background: #003;
    padding: 100px;
}

.sec h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}


.ter{
    position: relative;
    background: rgb(53, 60, 85);
    padding:  40px 100px;
}

.ter h3{
    font-size: 3em;
    padding: 0 10px 20px;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.conteiner{
    display: flex;
    justify-content: space-around;
    padding: 0 0 10%;
}


.quizimg1{
    margin-left: 5%;
    overflow: hidden; 
    cursor: pointer;
    max-width: 40%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 20px;
    padding: 8px;
    border: 2px solid rgb(7, 7, 41);
}

.quizimg1:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#title{
    margin: 10px;
    position: absolute;
    left: 46%;
    color: #eae6ff;
    font-size: 2em;
    text-shadow: 2px 2px #11171d91;
    cursor: pointer;
    transition: all 0.3s;
}

#title:hover{
    transform: scale(1.1);
}

.quiz .pergunta{
    color: #302e3a;
}

.alternativas{
    display: inline-flex;
    justify-content: space-between;
}

button{
    display: flex;
    justify-content: space-around;
    background-color: rgb(23, 33, 51);
    border-color:#16151d;
    border-radius: 10px;
    padding-inline: 20px 8px;
    cursor: pointer;
    font-size: 2em;
    color: #f6f4e7;
    transition: all .3s ease; 
    margin-left: 5px;
    margin-top: 5%
}

button:hover{
    background-color: #f6f4e7;
    color:rgb(23, 33, 51);
}

button:active{
   background-color: rgb(224, 0, 0)
}

.contador{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    margin: 5%;
    margin-left: 5px;
    font-size: 1.5em;
    color: #a9a4d8;
}

.pergunta{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 2.5em;
}

  .corretas{
    margin-right: 5%;
  }

  .img{
    width: 30%;
    margin-left: 5%;
  }

.bodye{
    background-image: url("tprlx/taylorbg.jpeg");
    background-size: 100%;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
}

.conteudoe{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cbc7df;
    border: 5px solid #302e3a;
    border-radius: 40px;
    padding: 0;
    margin: 30vh;
    padding-bottom: 20px;
    font-family: 'Source Code Pro', monospace;
}

.modal-finishe{
    position: absolute;
    inset: 0;
    background-color: #32235e;
    color: #9e88e6;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

  .modal-finishe.open > div {
    padding: 2%;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    width: 50vh;
    font-size: 2em;
}

  .modal-finishe.open {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

footer{
    background-color:#16151d;
}

.fa{
    font-size: 2em;
    padding: 2% 0 1%;
}

.fa, .tr{
    color: #dad8e9;
    text-align: center;
    margin-top: 3%;
}

.modal {
    display: grid;
    place-items: center;
    position: fixed;
    inset: 0;
    background-color: rgba(60, 53, 117, 0.5);
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}
    
.modal.opened {
    opacity: 1;
    visibility: visible;
}
    
.modal .window {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 50vw;
    min-height: 50vh;
    background-color: white;
    border-radius: 1vw;
    padding: 1rem;
}
    
.modal .window .close {
    position: absolute;
    right: -1vw;
    top: -1vw;
    border: none;
    font-size: 1vw;
    height: 2vw;
    width: 2vw;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
}
    
.modal .window .content {
    flex: 1;
}
    
.modal .window .actions {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}
    
.modal .window .actions button {
    border: none;
    background-color: rgb(123, 87, 165);
    color: white;
    padding: 1vw;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.rec{
    margin: 10% 5%;
}

#bodyr{
    background-color:#74838f;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
}

.header{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    padding: 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #395872;
}

.logor{
    font-size: 3em;
    color:rgb(228, 228, 241);
    pointer-events: none;
}

.navigationr a{
    text-decoration: none;
    color:rgb(222, 222, 230);
    padding: 4px 15px;
    border-radius: 10px;
    margin: 0 45px;
    font-weight: 600;
    font-size: 1.3em;
}

.navigationr a:hover,
.navigationr a.active{
    background: rgba(107, 133, 190, 0.74);
    color:#f9f9f9;
}

.contentr{
    margin: 0 10%;
    display: flex;
    justify-content: space-around;
}

.h1r{
    text-align: center;
    margin: 5px ;
}

.contentr .h1r{
    margin: 10%;
    text-align: center;
}

.creators img{
    margin-top: 10%;
    overflow: hidden; 
    cursor: pointer;
    max-width: 20%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 20px;
    padding: 8px;
    border: 2px solid rgb(7, 7, 41);
}

.creators img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.creators{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.creators p{
    font-size: 2em;
    color:#cbc7df;
    padding: 1%;
    border: 3px solid #cbc7df;
    border-radius: 30px;
}

.mainc{
    margin-top: 10%;
    text-align: center;
    color:#cbc7df;
}

.logoc{
    font-size: 3em;
    color:rgb(228, 228, 241);
    pointer-events: none;
}

.navigationc a{
    text-decoration: none;
    color:rgb(222, 222, 230);
    padding: 4px 15px;
    border-radius: 10px;
    margin: 0 45px;
    font-weight: 600;
    font-size: 1.3em;
}

.navigationc a:hover,
.navigationc a.active{
    background: rgba(129, 107, 190, 0.74);
    color:#f9f9f9;
}

#bodyc{
    background: #5a5375f6;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
}
